<div class="row home-panel-container">
  
  <!-- Registration -->
  <div ng-if="!activeUsername" class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">New Users</h3>
      </div>
      <div class="panel-body">
        Create a free account today
        <a class="btn btn-sm btn-primary pull-right" href="/register">Register</a>
      </div>
    </div>
  </div>

  <!-- Login -->
  <div ng-if="!activeUsername" class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Returning Users</h3>
      </div>
      <div class="panel-body">
        Log in to edit your profile or manage your accounts
        <a class="btn btn-sm btn-primary pull-right" href="/login">Sign In</a>
      </div>
    </div>
  </div>

  <!-- Edit Profile -->
  <div ng-if="activeUsername" class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Profile</h3>
      </div>
      <div class="panel-body">
        Make changes to your personal profile
        <a class="btn btn-sm btn-primary pull-right" href="/edit-profile">Profile</a>
      </div>
    </div>
  </div>  
  
  <!-- Add Accounts -->
  <div ng-if="activeUsername" class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Add New Account</h3>
      </div>
      <div class="panel-body">
        Create a new account profile
        <a class="btn btn-sm btn-primary pull-right" href="/add-account"><i class="fa fa-plus"></i> Account</a>
      </div>
    </div>
  </div>  
  
  <!-- Add Accounts -->
  <div ng-if="activeUsername" class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">View Accounts</h3>
      </div>
      <div class="panel-body">
        View and make changes to existing accounts
        <a class="btn btn-sm btn-primary pull-right" href="/view-accounts">View Accounts</a>
      </div>
    </div>
  </div>

</div>
