<form class="form-container">

  <div class="input-group input-group-sm">
    <span class="input-group-addon">Name</span>
    <input type="text" class="form-control" ng-model="formData.name">
  </div>

  <div class="input-group input-group-sm">
    <span class="input-group-addon">Email</span>
    <input type="email" class="form-control" ng-model="formData.email">
  </div>

  <div class="input-group input-group-sm">
    <span class="input-group-addon">Username</span>
    <input type="text" class="form-control" ng-model="formData.username">
  </div>

  <div class="input-group input-group-sm">
    <span class="input-group-addon">Password</span>
    <input type="password" class="form-control" ng-model="formData.password">
  </div>

  <div class="input-group input-group-sm">
    <span class="input-group-addon">Confirm Password</span>
    <input type="password" class="form-control" ng-model="formData.passwordConfirmation">
  </div>

  <div class="form-btn-container text-center">
    <button class="btn btn-primary btn-sm" ng-click="registerUser(formData)">Submit</button>
  </div>

</form>

<!-- User Feedback -->
<div class="alert-container">
  <div class="alert alert-success text-center" ng-if="formData.success" ng-bind="formData.success"></div>
  <div class="alert alert-danger text-center" ng-if="formData.error" ng-bind="formData.error"></div>
</div>
