<h2>Accounts</h2>
<table class="table">
  <thead>
    <tr>
      <th>Account</th>
      <th class="desktop-only">Contact</th>
      <th>City</th>
      <th>State</th>
      <th class="desktop-only">Email</th>
      <th class="desktop-only">Telephone</th>
      <th></th>
      <th class="desktop-only"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="account in accountList">
      <td ng-bind="account.account"></td>
      <td ng-bind="account.contact" class="desktop-only"></td>
      <td ng-bind="account.city"></td>
      <td ng-bind="account.state"></td>
      <td ng-bind="account.email" class="desktop-only"></td>
      <td ng-bind="account.telephone" class="desktop-only"d></td>
      <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
      <td class="desktop-only"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
    </tr>
  </tbody>
</table>