nav.navbar {
  border-bottom: 2px solid #fff;
}

.form-container {
  width: 90%;
  max-width: 400px;
  margin: auto;
  border: 2px solid #9d9d9d;
  border-radius: 10px;
  padding: 25px;
  .input-group {
    width: 100%;
    margin: 20px 0px;
    .input-group-addon {
      width: 125px;
    }
  }
  .form-btn-container {
    .btn-sm {
      width: 80%;
      margin: 5px auto
    }
  }
}

.alert-container {
  margin: 20px auto;
  width: 90%;
  max-width: 400px;
}

.home-panel-container {
  margin-top: 50px;
  .panel-body {
    .btn-sm {
      width: 100px;
    }
  }
}
